.container {
  width: 100%;
  max-width: 1150px;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}

@media only screen and (max-width:460px) {
  .container {
    padding-right: 40px;
    padding-left: 40px;
  }
}