.hero {
  position: relative;
  padding-bottom: 250px;
  background-color: $header-bg-color;

  &::before {
    position: absolute;
    top: calc(50% - 230px);
    left: 0;
    width: 100px;
    height: 200px;
    background-image: url("../../images/hero-bgi-first.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
  }

  &::after {
    position: absolute;
    bottom: 0;
    left: calc(50% + 195px);
    width: 358px;
    height: 100px;
    background-image: url("../images/hero-bgi-second.svg");
    background-repeat: no-repeat;
    background-size: contain;
    content: "";
  }
}

.hero__inner {
  display: flex;
  align-items: center;
}

.hero__left {
  width: 100%;
  max-width: 635px;
  margin-right: 30px;
}

.hero__title {
  font-weight: 700;
  font-size: 100px;
  line-height: 100px;
  color: #FFFFFF;
}

.hero__talent {
  color: #F67E7E;
}

.hero__right {
  width: 100%;
  max-width: 445px;
}

.hero__span {
  display: inline-block;
  width: 50px;
  height: 4px;
  margin-bottom: 79px;
  background-color: #79C8C7;
}

.hero__text {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;
  color: #FFFFFF;
}

@media only screen and (max-width:1345px) {
  .hero {
    &::before {
      position: absolute;
      top: calc(50% - 185px);
      left: 0;
      display: block;
      width: 75px;
      height: 150px;
      background-image: url("../../images/hero-bgi-first.svg");
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
    }
  
  }
}

@media only screen and (max-width:1300px) {
  .hero {
    &::before {
    background-image: none;
    }
  
  }
}

@media only screen and (max-width:1130px) {
  .hero {
    &::after {
      position: absolute;
      bottom: 0;
      left: calc(50% - 179px);
      width: 100%;
      max-width: 358px;
      height: 100px;
      background-image: url("../../images/hero-bgi-second.svg");
      background-repeat: no-repeat;
      background-size: contain;
      content: "";
    }
  }
 
}

@media only screen and (max-width:915px) {
  .hero__inner {
    flex-direction: column;
    justify-content: center;
  }

  .hero__left {
    margin-right: 0;
    text-align: center;
  }

  .hero__right {
    text-align: center;
  }
}

@media only screen and (max-width:768px) {
  .hero__title {
    font-size: 64px;
    line-height: 56px;
  }

  .hero__span {
    display: none;
  }
}

// media only screen and (max-width:634px)

@media only screen and (max-width:375px) {
  
  .hero__title {
    font-size: 40px;
    line-height: 40px;
  }
}

@media only screen and (max-width:357px) {
  .hero::after {
    min-width: 300px;
  }
  
}